section.about
	.flex.flex-center
		.col-2
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit ipsa, voluptatibus facere recusandae esse voluptas fugit laboriosam nesciunt libero minima nulla iure omnis fuga voluptatum possimus necessitatibus quia. Illum, magni.
		
		.col-2
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis quas ut, sunt accusamus rem. Quibusdam corrupti atque in, quae! Ducimus, fugiat odit. Animi quo quasi vitae aliquam fugit ullam facere!

section.projects
	.flex.flex-space-around
		.col-2
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit ipsa, voluptatibus facere recusandae esse voluptas fugit laboriosam nesciunt libero minima nulla iure omnis fuga voluptatum possimus necessitatibus quia. Illum, magni.
		
		.col-2.order-1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis quas ut, sunt accusamus rem. Quibusdam corrupti atque in, quae! Ducimus, fugiat odit. Animi quo quasi vitae aliquam fugit ullam facere!

section.blog
	.flex.flex-center
		.col-1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit ipsa, voluptatibus facere recusandae esse voluptas fugit laboriosam nesciunt libero minima nulla iure omnis fuga voluptatum possimus necessitatibus quia. Illum, magni.

section.contact
	.flex.flex-space-around
		.col-50.flex.flex-center
			.col-2
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit ipsa, voluptatibus facere recusandae esse voluptas fugit laboriosam nesciunt libero minima nulla iure omnis fuga voluptatum possimus necessitatibus quia. Illum, magni.
		
		.col-50
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis quas ut, sunt accusamus rem. Quibusdam corrupti atque in, quae! Ducimus, fugiat odit. Animi quo quasi vitae aliquam fugit ullam facere!
