mixin nav-content()
	ul
		li: a(href="#about") About
		li: a(href="#projects") Projects
		li: a(href="#blog") Blog
		li: a(href="#contact") Contact

.mobile-nav
	+nav-content()

header

	.header-position
		h1.logo Brian Zhang

		nav.site-nav
			+nav-content()

		a(href="mailto:brian.k.zhang@gmail.com").email-link +email moi

		.mobile-nav-toggle: span