header

	.header-position
		h1.logo Brian Zhang

		nav.site-nav
			ul
				li: a(href="#about") About
				li: a(href="#projects") Projects
				li: a(href="#blog") Blog
				li: a(href="#contact") Contact

		a(href="mailto:brian.k.zhang@gmail.com").email-link +email moi